{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    ["env", {
      "useBuiltIns": "usage",
      "targets": {
        "ie": 11
      }
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-async-to-generator",
    "styled-components",
    ["module-resolver", {
      "alias": {
        "@": "./frontend/Main"
      }
    }]
  ]
}
